@{
    ViewBag.Title = "WebSocket";
}
<h3>Пример использования WebSocket</h3>
<hr />
<div class="form-body">
    <div class="form-group">
        <label for="userName">Ваше имя:</label>
        <input id="userName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="message">Ваше сообщение:</label>
        <textarea id="message" class="form-control" rows="4" style="max-width: 350px;"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="send">Отправить</button>
    </div>
</div>

<hr />
<div id='messages' class="pre-scrollable">

</div>

<script type="text/javascript">
    var $url = 'ws://' + window.location.hostname + ':' + window.location.port + '/ChatHandler.ashx';
        var socket,
            $txt = document.getElementById('message'),
            $user = document.getElementById('userName'),
            $messages = document.getElementById('messages');

        if (typeof (WebSocket) !== 'undefined') {
            socket = new WebSocket($url);
        } else {
            socket = new MozWebSocket($url);
        }

        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            var theFirstChild = $messages.firstChild;
            $el.innerHTML = msg.data;
            $messages.insertBefore($el, theFirstChild);
            var audio = new Audio('/Content/sms.mp3');
            audio.autoplay = true;
        };

        socket.onclose = function (event) {
            alert('Мы потеряли её. Пожалуйста, обновите страницу');
        };

        document.getElementById('send').onclick = function () {
            Data = new Date();
            Hour = Data.getHours();
            Minutes = Data.getMinutes();
            socket.send('<strong>' + $user.value + ' '+Hour+':'+Minutes+' - </strong>' + $txt.value);
            $txt.value = '';
        };
        document.getElementById('message').onkeypress = function (e) {

            if (event.keyCode == 13) {
                socket.send('<strong>' + $user.value + ' : </strong>' + $txt.value);
                $txt.value = '';
            }
        };
</script>